body {
  font-family: Lato;
  background: #1A1A1A;
  color: #fff;
  text-align: center;
}

.header { padding:20px; color:#B8860B; }

.hero { padding:50px; }

.produto {
  background:#222;
  padding:20px;
  margin:20px;
}

button {
  background:#B8860B;
  border:none;
  padding:10px;
  margin:5px;
  cursor:pointer;
}

.whatsapp-btn {
  position:fixed;
  bottom:20px;
  right:20px;
}